.container{
    /* max-width: fit-content; */
    width: 500px !important;
    /* max-height: 1000px !important; */
    
}

label{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width:550px) {
    .container{
        width : 100% !important;
    }
    
}