/* .allPage{
    height: 100dvh;
    overflow:scroll;
    
}
*{
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/069/444/original/online-registration-form-login-form-login-page-opened-in-web-browser-window-on-realistic-mobile-phone-screen-projection-on-glass-vector.jpg');
    background-attachment: fixed;
} */