<div class="size mx-auto border p-5 border-dark rounded-3 mt-3">
    <form #login="ngForm">
        <h1 class="text-center">Reset Password</h1>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">New Password</label>
            <input type="password" required class="form-control" id="exampleInputPassword1" ngModel #password="ngModel" name="password">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
            <input type="password" required class="form-control" id="exampleInputPassword2" ngModel #Confirmpassword="ngModel" name="Confirmpassword">
        </div>
        <div class="text-center">
    
            <button type="submit" (click)="resetPass(login)"  [disabled]="!login.valid" class="mb-3 btn btn-primary">Change</button>
        </div>
    </form>
</div>